body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    background: white;
    border: solid blue;
    border-radius: 10px;
    width: 90%;
    max-width: 750px;
    box-shadow: 10px 40px 20px rgba(0, 0, 0, 0.3);
    padding: 25px;
}

button {
    padding: 5px;
    margin: 10px;
    background-color: blue;
    color: aliceblue;
    border: solid aliceblue;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: rgb(18, 18, 219);
    color: rgb(163, 163, 163);
}

#result {
    margin-top: 20px;
    font-size: medium;
    font-weight: 900;
    color: blue;
}

#score {
    position: absolute;
    top: 15px;
    object-fit: cover;
}
